:root {
    --page-width: 306px;
    --page-height: 541px;
}

html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana;
    font-size: 1rem;
    line-height: 1rem;
}
h1,
h4 {
    font-size: 1.5rem;
    color: white;
}
ul {
    list-style-type: none;
}
.dm-wrapper {
    background-image: url("../images/mobile1.png");
    background-repeat: no-repeat;
    background-size: 360px;
    width: 360px;
    height: 770px;
    margin: 0 auto;
    margin-top: 5rem;
    transform: scale(1);
    position: relative;
}
.dm-page {
    left: 28px;
    top: 110px;
    width: var(--page-width);
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #ddd;
    position: absolute;
}
.dm-header {
    background: purple;
    line-height: 2.2rem;
    padding: 8px 12px;
    text-align: center;
    align-items: center;
    color: #fff;
}
.dm-content {
    height: calc(var(--page-height) - 2.2rem - 2.2rem);
    line-height: 2.2rem;
    text-align: left;
    padding: 0 10px;
    font-weight: 600;
    color: #444;
}
.dm-footer {
    margin-top: auto;
    background: purple;
    line-height: 2.2rem;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.spbetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dm-link {
    cursor: pointer;
}
.dm-listview li {
    background: #fff;
    line-height: 2.2rem;
    border: 1px solid #aaa;
    border-top: 0;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
}
.dm-listview li a {
    text-decoration: none;
    color: #444;
}
.dm-listview li .dm-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hide {
    display: none;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.bg-white {
    background: #fff !important;
}
.bg-ddd {
    background: #ddd;
}
/*  
    buttons
*/
.dm-button {
    display: inline-block;
    padding: 0.75em 1.2em;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    width: 100%;
    background-color: SlateBlue;
}
.dm-button:hover {
    background-color: DarkSlateBlue;
    color: #fff;
}
.dm-button-blue {
    background-color: DarkSlateBlue;
    color: #fff;
}
.dm-button-blue {
    background-color: DarkSlateBlue;
    color: #fff;
}
/*
    form
*/
.dm-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    gap: 1rem;
    margin-top: 5rem;
}
.dm-form label {
    color: purple;
}
.dm-form input {
    font-size: 1rem;
    line-height: 1rem;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
}
.dm-form input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.dm-form input:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

/*
    Welcome Page
*/
.welcome {
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    color: purple;
}
.welcome h1.title {
    color: navy;
    font-size: 2rem;
    margin: 3rem 0;
}
.welcome .label {
    margin-bottom: 1rem;
}
