:root {
    --page-width: 306px;
    --page-height: 541px;
}

html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana;
    font-size: 1rem;
    line-height: 1rem;
}
h1,
h4 {
    font-size: 1.5rem;
    color: white;
}
ul {
    list-style-type: none;
}
.dm-wrapper {
    background-image: url("../images/mobile1.png");
    background-repeat: no-repeat;
    background-size: 360px;
    width: 360px;
    height: 770px;
    margin: 0 auto;
    margin-top: 5rem;
    transform: scale(1);
    position: relative;
}
.dm-page {
    left: 28px;
    top: 110px;
    width: var(--page-width);
    height: var(--page-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #ddd;
    position: absolute;
}
.dm-header {
    background: purple;
    line-height: 2.2rem;
    padding: 8px 12px;
    text-align: center;
    align-items: center;
    color: #fff;
}
.dm-content {
    height: calc(var(--page-height) - 2.2rem - 2.2rem);
    line-height: 2.2rem;
    text-align: left;
    padding: 0;
    font-weight: 600;
    color: #444;
}
.dm-footer {
    margin-top: auto;
    background: purple;
    line-height: 2.2rem;
    padding: 8px 12px;
    text-align: center;
    color: #fff;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.spbetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dm-link {
    cursor: pointer;
}
.dm-listview li {
    background: #fff;
    line-height: 2.2rem;
    border: 1px solid #aaa;
    border-top: 0;
    padding: 8px 12px;
    width: 100%;
    cursor: pointer;
}
.dm-listview li a {
    text-decoration: none;
    color: #444;
}
.dm-listview li div.dm-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.symbol {
    color: #444;
}
.hide {
    display: none;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mb-4 {
    margin-bottom: 4rem;
}
.w-1 {
    max-width: 10px;
}
.bg-white {
    background: #fff !important;
}
.bg-ddd {
    background: #ddd;
}
.left {
    text-align: left !important;
}
.right {
    text-align: right !important;
}
.red {
    color: crimson;
}
/*  
    buttons
*/
.dm-button {
    display: inline-block;
    padding: 0.75em 1.2em;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    width: 100%;
    background-color: SlateBlue;
    cursor: pointer;
}
.dm-button:hover {
    background-color: DarkSlateBlue;
    color: #fff;
}
.dm-button-blue {
    background-color: DarkSlateBlue;
    color: #fff;
}
.dm-button-purple {
    background-color: purple;
    color: #fff;
}
/*
    form
*/
.dm-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    gap: 1rem;
    margin-top: 5rem;
}
.dm-form label {
    color: purple;
}
.dm-form input {
    font-size: 1rem;
    line-height: 1rem;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    outline: none;
}
.dm-form input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.dm-form input:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

/*
    Welcome Page
*/
.welcome {
    padding: 10px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    display: flex;
    flex-direction: column;
    color: purple;
}
.welcome h1.title {
    color: navy;
    font-size: 2rem;
    margin: 3rem 0;
}
.welcome .label {
    margin-bottom: 1rem;
}
/*
  table
*/
.dm-table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

.dm-table caption {
    font-size: 1.5rem;
    margin: 0.5rem 0 0.75rem;
}

.dm-table tr {
    background-color: #f8f8f8;
    border-bottom: 1px solid #444;
    padding: 0;
    margin: 0;
}

.dm-table th {
    padding: 0.625rem;
    text-align: center;
    font-size: 0.85rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: darkorange;
}
.dm-table td {
    padding: 0.625rem;
    text-align: left;
    white-space: nowrap;
}
.dm-table td.next {
    width: 1rem;
    max-width: 1rem;
    cursor: pointer;
}

/* MODAL STYLES */
#modal-overlay {
    width: var(--page-width);
    height: var(--page-height);
    position: relative;
    top: 0;
    left: 0;
    background: rgba(100, 100, 100, 0.75);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    opacity: 1;
}
#modal-overlay #modal {
    max-width: 700px;
    width: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
    border: 8px solid purple;
}
#modal-overlay.open {
    display: flex;
    opacity: 1;
}
