<div class="container">
    <h3>Bitcoin Statistics</h3>
    <table>
        <thead>
            <tr>
                <th>Balance, BTC</th>
                <th>Addresses</th>
                <th>% Addresses (Total)</th>
                <th>BTC</th>
                <th>USD</th>
                <th>% BTC (Total)</th>
            </tr>
        </thead>
        <tbody id="bitcoin">
            <repeat group="{{ @bitcoin }}" value="{{ @b }}">
                <tr class="hide">
                    <td>{{@b.balance}}</td>
                    <td>{{@b.addresses}}</td>
                    <td>{{@b.addressestot}}</td>
                    <td>{{@b.btc}}</td>
                    <td>{{@b.usd}}</td>
                    <td>{{@b.percentbtc}}</td>
                </tr>
            </repeat>
        </tbody>
    </table>
    <div id="paginate"></div>
</div>

<script src="js/teams.js" type="module"></script>
