<script src="Components/tasklist.js" type="module"></script>
<script src="Components/taskitem.js" type="module"></script>
<script src="Components/edittask.js" type="module"></script>

<h3>Kanban Dashboard</h3>
<div id="dashboard">

    <task-list class="column" id="backlog" title="Backlog" tasks='{{ @tasks1 |raw }}'></task-list>
    <task-list class="column" id="in-progress" title="In-Progress" tasks='{{ @tasks2 |raw }}'></task-list>
    <task-list class="column" id="testing" title="Testing" tasks='{{ @tasks3 |raw }}'></task-list>
    <task-list class="column" id="release" title="Release" tasks='{{ @tasks4 |raw }}'></task-list>
    <task-list class="column" id="closed" title="Closed" tasks='{{ @tasks5 |raw }}'></task-list>

</div>

<edit-task-item></edit-task-item>

<script src="/demo/js/dashboard.js"></script>
